.logo{
    width: 100px;
    height: 100px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(242, 246, 208);
    font-size: 1rem;
}

.head{
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: start;
    width: 95vw;
    height: 40vh;
    background-color: rgb(239, 220, 171);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.box {
        display: flex;
        flex-direction: row; /* Arranges the cards side by side */
        justify-content: space-around; /* Distributes space evenly between and around cards */
        flex-wrap: wrap; /* Allows cards to wrap to the next line */
        gap: 20px; /* Provides space between the cards */
        width: 60vw;
        height: 70vh;
}

.cards {
    display: flex;
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    height: 60vh;
    width: 50vw;
    border-radius: 10%; 
    background-color: rgb(217, 131, 36);
    margin: 10px;
}


.tilte-img{
    height: 200px;
    width: 300px;
    border-radius: 10%;
}

.pages{
    color: black;
}

.cards:hover {
        transform: translateY(-5px); /* Moves the element up on hover */
        background:linear-gradient(to top, rgb(255, 230, 0), orange); /* Changes the background color for an interactive feel */
        box-shadow: 0 4px 8px;
        transition: all 0.3 ease;
}

.cards:active {
        transform: translateY(5px); /* Moves the element down on click */
}

.tag{
    text-transform: uppercase;
}

ol {
  list-style-type: upper-roman; /* Applies to all ordered lists */
}

ol, p{
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}